.hero-unit
  %h2 Authorize Accounts
  %p We need access to your accounts, so we can do cool things with them.

  .btn-group
    = authorize_button user, "github"
    = authorize_button user, "twitter"