.page-header
  %h1
    devstats
    %small OMG LOC R ASOME!!!

- if flash[:authorized_with]
  %p.alert.alert-success
    Successfully authorized with
    %strong= "#{flash[:authorized_with].capitalize}."

= render 'authorize_accounts', :user => @user

%p
  %strong Example status message:
%p
  I have 23 commits over 5 repos this past week.